<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans_400Regular.ttf</string>
		<string>PlusJakartaSans_500Medium.ttf</string>
		<string>PlusJakartaSans_600SemiBold.ttf</string>
		<string>PlusJakartaSans_700Bold.ttf</string>
	</array>
</dict>
</plist>
